/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

label.required:after {
    content: " *";
    font-weight: normal;
    /*color: red;*/
}

.modal-backdrop.in {
    filter: alpha(opacity=60);
    opacity: .6;
}
/*.field-validation-error{
    color: firebrick;
    font-size: small;
}
.nav > li > a {
    font-size: 12pt;
}*/
.btn-group.bootstrap-select {
    margin-top: 0;
}
/*.dataTables_length .bootstrap-select {
    width:50px !important;
}*/
.dataTable .btn-icon {
    margin-top: 0;
    margin-bottom: 0;
}

.card:not(.cardNoAnimation):hover .small-animation[data-header-animation="true"] {
    -webkit-transform: translate3d(0, -12px, 0);
    -moz-transform: translate3d(0, -12px, 0);
    -o-transform: translate3d(0, -12px, 0);
    -ms-transform: translate3d(0, -12px, 0);
    transform: translate3d(0, -12px, 0);
}

    .card:not(.cardNoAnimation):hover .small-animation[data-header-animation="true"] + .card-content a {
        color: #01A4E7;
    }

.card .card-image img {
    pointer-events: auto;
}

.sidebar[data-active-color="blue"] li.active > a {
    background-color: #01A4E7;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.btn-Synergia {
    background-color: #01A4E7;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

    .btn-Synergia:hover {
        background-color: #0094ff;
    }

    .btn-Synergia:focus {
        background-color: #0094ff;
    }

    .btn-Synergia:active {
        background-color: #01A4E7;
    }

.card [data-background-color="blueSynergia"] {
    background: linear-gradient(60deg, #01A4E7, #0094ff);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

#btn-black .a {
    color: #01A4E7
}

.main-panel > .content {
    margin-top: 45px;
}

.backgroundSynergia {
    background-color: #01A4E7;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14);
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #01A4E7;
    border-color: #01A4E7;
}

a, a:visited, a:active, a:focus {
    color: #01A4E7;
}

    a:hover {
        color: #0094ff
    }

.card .nav-pills {
    margin-top: 0px;
}

.nav-pills > li > a {
    background-color: #CCE5FF;
}

.nav-pills.nav-pills-warning > li.active > a,
.nav-pills.nav-pills-warning > li.active > a:focus {
    background-color: #01A4E7;
}

    .nav-pills.nav-pills-warning > li.active > a:hover {
        background-color: #0094ff;
    }

.table > thead > tr > th {
    font-weight: 400;
}

.nav-pills li.disabled a {
    pointer-events: none;
    background-color: #dddddd;
}

.card-product {
    background-color: #EEEEEE;
}

.sidebar .user .photo {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0), 0 4px 25px 0px rgba(0, 0, 0, 0), 0 8px 10px -5px rgba(0, 0, 0, 0);
}

.alert span {
    max-width: 94%;
}

.configuration {
    margin-bottom: 15pt;
}

#loggedUserName {
    font-size: 12pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
    overflow: hidden;
}

.control-label {
    /*top: -20px !important;*/
    left: 0 !important;
    font-size: 11px !important;
    line-height: 1.07143 !important;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: auto;
}

.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group > .disabled {
    cursor: auto;
}

.navbarLoginPage .container {
    width: 100%;
}

.navbarLoginPage .navbar-header {
    text-align: center;
    float: none;
}

.navbarLoginPage {
    padding-top: 0;
}

.login-page > .content, .lock-page > .content {
    padding-top: 250px;
}

.btn-blueSynergia {
    color: #01A4E7 !important;
}

.tooltip-inner {
    max-width: 350px;
    min-width: 70px;
}

#modalOfferDetails .modal-dialog,
#modalOrderDetails .modal-dialog {
    width: 95%;
    margin-top: 60px;
    margin-bottom: 0px;
}

#modalHoodSelectionOfferHoodDetails .modal-dialog {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#modalOfferDetails .modal_footer,
#modalOrderDetails .modal_footer,
#modalHoodSelectionOfferHoodDetails .modal-footer {
    padding-bottom: 8px;
}

#modalOfferDetails .modal-body .card,
#modalOrderDetails .modal-body .card,
#modalHoodSelectionOfferHoodDetails .modal-body .card {
    margin-bottom: 8px;
    margin-top: 8px;
}

#modalOfferDetails .modal-body .card-content,
#modalOrderDetails .modal-body .card-content,
#modalHoodSelectionOfferHoodDetails .modal-body .card-content {
    padding-top: 2px;
    padding-bottom: 2px;
}

#modalOfferDetails .modal-content .modal-body,
#modalOrderDetails .modal-content .modal-body,
#modalHoodSelectionOfferHoodDetails .modal.card-content .modal-body {
    padding-bottom: 0px;
}

#modalOfferDetails .buttons-html5 {
    position: absolute;
    top: 5px;
    left: 15px;
}

.form-group.label-floating {
    padding-bottom: 15px;
}

    .form-group.label-floating .form-control,
    .form-group.label-static .form-control {
        padding-bottom: 0;
    }

    .form-group.label-static label.control-label,
    .form-group.label-floating.is-focused label.control-label,
    .form-group.label-floating:not(.is-empty) label.control-label {
        top: -20px;
        z-index: 3;
    }

.controlLabelTextArea {
    top: -28px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*#offerElementsTable.table > thead > tr > th {*/
#pillOfferElements .dataTable > thead > tr > th,
#pillOrderElements .dataTable > thead > tr > th {
    font-size: 10pt;
}
/*#offerElementsTable img*/
#pillOfferElements .dataTable img,
#pillOrderElements .dataTable img {
    max-height: 60px;
    width: auto;
}
/*#offerElementsTable.dataTable > tbody > tr > td {*/
#pillOfferElements .dataTable > tbody > tr > td,
#pillOrderElements .dataTable > tbody > tr > td {
    font-size: 10pt;
    padding: 6pt;
}

/*#offerElementsTable > thead > tr > th {*/
#pillOfferElements .dataTable > thead > tr > th,
#pillOrderElements .dataTable > thead > tr > th {
    text-align: center;
}



.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    z-index: 3;
    background-color: #01A4E7;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    margin-bottom: 3px;
    /*background-color: #01A4E7;*/
    background-color: #01A4E7;
}

.touchSpin {
    text-align: center;
}

.datepickerLabel {
    top: -20px !important;
}

.addOfferElement {
    color: #01A4E7 !important;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
    padding: 7px 9px;
}

.activeOffer,
.activeOffer:hover {
    background-color: #b5cec6 !important;
}

.card-title .nav-pills {
    position: absolute;
    top: 10px;
    left: 160px;
}

#rowOfferNumber {
    position: absolute;
    top: 10px;
    left: 550px;
    width: 130px;
}

.form-group.has-error .bootstrap-select .dropdown-toggle {
    color: #f44336 !important;
}

.tab-pane .table tbody > tr > td:first-child {
    width: auto;
}

.table > thead > tr > th {
    font-size: 1em;
}

#offerElementsTableSummary {
    width: 500px;
    font-size: 0.9em;
    position: absolute;
    top: 0px;
    right: 10px;
}

    #offerElementsTableSummary > thead > tr > th,
    #offerElementsTableSummary > tbody > tr > td {
        padding: 2px;
    }

#divIsPrepayment {
    position: absolute;
    top: 54px;
    right: 520px;
    z-index: 4;
    font-size: 14px;
}

    #divIsPrepayment label {
        font-size: 12px;
        color: #3C4858;
        font-weight: 300;
    }

.swal2-cancel {
    background-color: #5cb85c !important;
}

    .swal2-cancel:hover {
        background-color: mediumseagreen !important;
    }

.panel-success > .panel-heading {
    background-color: #dff0d8 !important;
}

.panel-success {
    border: 1px solid #d6e9c6 !important;
}

.panel-info > .panel-heading {
    background-color: #d9edf7 !important;
}

.panel-info {
    border: 1px solid #bce8f1 !important;
}

.panel-warning > .panel-heading {
    background-color: #fcf8e3 !important;
}

.panel-warning {
    border: 1px solid #faebcc !important;
}

.panel-danger > .panel-heading {
    background-color: #eecdc8 !important;
}

.panel-danger {
    border: 1px solid #eecdc8 !important;
}

    .panel-success .panel-heading,
    .panel-info .panel-heading,
    .panel-warning .panel-heading,
    .panel-danger .panel-heading {
        padding: 1px 15px !important;
    }

    .panel-success .panel-body,
    .panel-info .panel-body,
    .panel-warning .panel-body,
    .panel-danger .panel-body {
        padding: 10px 15px 0 15px !important;
    }

.panel-success > .panel-heading {
    background-color: #dff0d8 !important;
}

.dataTable .touchSpin {
    width: 35px !important;
}

.ui-autocomplete-input {
    font-weight: normal;
}

.ui-autocomplete {
    z-index: 2147483647;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    /*padding-right: 20px;*/
}

#pnlSearchProductsForOffer {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 3;
}

#SearchProductsForOffer {
    width: calc(100% - 100px);
    display: inline-block;
}
/*.ui-autocomplete {
    position: absolute;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}*/

.ui-autocomplete > li > .ui-menu-item-wrapper {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

    .ui-autocomplete > li > .ui-menu-item-wrapper:hover,
    .ui-autocomplete > li > .ui-menu-item-wrapper:focus,
    .ui-autocomplete > li > .ui-menu-item-wrapper:active,
    .ui-autocomplete > li > .ui-menu-item-wrapper.ui-state-active {
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
        background-color: #9c27b0;
        border: 0 none;
        color: #FFFFFF;
    }
/*.ui-autocomplete > li {
        padding: 3px 10px;
    }*/

/*.ui-autocomplete > li.ui-state-focus {
            background-color: #DDD;
        }*/

.ui-helper-hidden-accessible {
    display: none;
}

.dropzone {
    border: none;
}

    .dropzone .dz-preview .dz-image img {
        cursor: pointer;
        height: 120px;
        object-fit: scale-down;
        width: 120px;
    }

    .dropzone .dz-default.dz-message {
        height: 118px;
    }

#dropzoneOfferLogo {
    padding: 0;
    margin-right: 10px;
}

    #dropzoneOfferLogo .dz-details {
        display: none;
    }

.tooltip {
    position: fixed;
}

.btn-round-small {
    padding: 5px !important;
}

.nowrap {
    white-space: nowrap;
}

#modalAddMonthlyReport .modal-dialog {
    /*width: 60%;*/
    margin-top: 40px;
    margin-bottom: 0px;
}

#modalAddWeeklyPlan .modal-dialog {
    /*width: 60%;*/
    margin-top: 40px;
    margin-bottom: 0px;
}

.scrollableContent {
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 20%;
}

h4:not(.card-title) {
    padding-top: 15px;
}

.verticalAlignTop {
    vertical-align: top !important;
}

.dataTables_length {
    display: inline-block;
}

.dt-buttons {
    display: inline-block;
    margin-left: 20px;
}

#campaignFilesTable_wrapper .dt-buttons {
    display: block;
}

table.dataTable .btn-simple.btn-icon {
    padding: 1px;
}

.text-small {
    font-size: small;
}

#tblHoodSelectionInfo {
    /*position: absolute;
    right: 50px;*/
    width: 220px;
    z-index: 1;
    font-size: 0.9em;
    float: right;
    /*top:0;*/
}

    #tblHoodSelectionInfo > thead > tr > th,
    #tblHoodSelectionInfo > tbody > tr > td {
        padding: 2px;
    }


.table-with-inputs .form-group {
    padding-bottom: 0;
    margin-top: 0;
}

.table-with-inputs .form-control[disabled] {
    margin-bottom: 2px;
}

.table-with-inputs .bootstrap-select {
    margin-bottom: -2px;
}

.table-with-inputs.table thead tr th,
.table-with-inputs.table tbody tr th,
.table-with-inputs.table tfoot tr th,
.table-with-inputs.table thead tr td,
.table-with-inputs.table tbody tr td,
.table-with-inputs.table tfoot tr td {
    padding: 2px 4px !important;
}

.table-with-inputs .form-control:not(.touchSpin) {
    padding-bottom: 0;
    margin-top: 0;
}

.table-with-inputs .select-with-transition {
    font-size: 14px;
}

.table-with-inputs .filter-option {
    margin-top: -3px;
}

.table-with-inputs .touchSpin {
    margin-top: 0 !important;
}

.table-with-inputs .bootstrap-touchspin .bootstrap-touchspin-up {
    margin-top: 0;
}

.dropdown-menu.open {
    z-index: 4000;
}

.text-bold {
    font-weight: bold;
}

.table.table-no-bordered > thead > tr > th,
.table.table-no-bordered > tbody > tr > th,
.table.table-no-bordered > tfoot > tr > th,
.table.table-no-bordered > thead > tr > td,
.table.table-no-bordered > tbody > tr > td,
.table.table-no-bordered > tfoot > tr > td {
    border: none !important;
}


.dataTable .touchSpinWrapper {
    margin: 0 auto;
}

.breakAll {
    word-break: break-all;
}

#formGroupHoodOfferElementLocation .control-label {
    color: #ff9800;
}

#formGroupHoodOfferElementLocation .filter-option {
    font-weight: bold;
}

.autocompleteSearch:not(.autocompleteSearchFullWidth) {
    display: inline-block;
    width: calc(100% - 40px);
}

#productList .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#productList h4 {
    font-size: 11pt;
}

#tblHoodSelectionOfferDetailsAirCalculation .dropdown-menu {
    max-height: 230px !important;
}

.weekpicker + .bootstrap-datetimepicker-widget .datepicker-days tbody tr:hover {
    border-bottom: 1px solid #9c27b0;
}

.multiselect-selected-text {
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.multiselect-native-select .btn-group {
    width: 100%;
}

button.multiselect.dropdown-toggle,
button.multiselect.dropdown-toggle :hover {
    width: 100%;
    background-color: white !important;
    padding: 4px 0 0 0;
    overflow: hidden;
    text-align: left;
    /*border-bottom: 1px solid rgb(60, 72, 88);*/
}

    button.multiselect.dropdown-toggle b.caret {
        /*color: black;*/
        display: none;
    }

ul.multiselect-container.dropdown-menu {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
}

.multiselect-container > li > a > label {
    padding-left: 10px;
}

/*#region HoodFinalOffer*/
#modalHFOOfferDetails .modal-dialog {
    width: 95%;
    margin-top: 60px;
    margin-bottom: 0px;
}

#modalHFOOfferDetails .modal_footer {
    padding-bottom: 8px;
}

#modalHFOOfferDetails .modal-body .card {
    margin-bottom: 8px;
    margin-top: 8px;
}

#modalHFOOfferDetails .modal-body .card-content {
    padding-top: 2px;
    padding-bottom: 2px;
}

#modalHFOOfferDetails .modal-content .modal-body {
    padding-bottom: 0px;
}

#modalHFOOfferDetails .buttons-html5 {
    position: absolute;
    top: 5px;
    left: 15px;
}

#pillHFOOfferElements .dataTable > thead > tr > th {
    font-size: 10pt;
}

#pillHFOOfferElements .dataTable img {
    max-height: 60px;
    width: auto;
}

#pillHFOOfferElements .dataTable > tbody > tr > td {
    font-size: 10pt;
    padding: 6pt;
}

#pillHFOOfferElements .dataTable > thead > tr > th {
    text-align: center;
}

#rowHFOOfferNumber {
    position: absolute;
    top: 10px;
    left: 550px;
    width: 130px;
}

#hfoOfferElementsTableSummary {
    width: 500px;
    font-size: 0.9em;
    position: absolute;
    top: 0px;
    right: 10px;
}

    #hfoOfferElementsTableSummary > thead > tr > th,
    #hfoOfferElementsTableSummary > tbody > tr > td {
        padding: 2px;
    }

#pnlHFOSearchProductsForOffer {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 3;
}

#HFOSearchProductsForOffer {
    width: calc(100% - 100px);
    display: inline-block;
}

#dropzoneHFOOfferLogo {
    padding: 0;
    margin-right: 10px;
}

    #dropzoneHFOOfferLogo .dz-details {
        display: none;
    }
/*#endregion*/

.modal-dialog .dt-buttons .btn {
    z-index: 2;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: auto !important;
}
